.details-container {
  /* margin-left: 20px; */
}

.details-container {
  position: relative;
  width: 300px;
  background: #ffffff;
  border-radius: 6px;
}

.details-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-2em, -50%);
  display: flex;

  font-size: 1.5em;
  animation: loadingAnimation 1s ease-in-out infinite; /* Применение анимации */
  overflow: hidden;
}

.user-details {
  border: 1px solid #d8d8d8;
  /* padding: 10px; */
  width: 300px;

  
  border-radius: 6px;
}

.user-details h2 {
  padding: 10px 20px;
  text-align: left;
}

.user-foto {
  position: relative;
  width: 100%;
  padding-top: 100%;

  /* aspect-ratio: 1/1; */
}

.user-foto img {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 6px 6px 0px 0px;
}

.user-content {
  /* padding: 10px 20px; */
}

.user-content p {
  padding: 10px 20px;
  border-top: 1px solid #d8d8d8;
}

@keyframes loadingAnimation {
  0% { width: 3.4em; }
  50% { width: 4em; }
  100% { width: 4.5em; }
}